name: suishiyi
on:
  push:
    #branches: [ "main" ]
  #pull_request:
    #branches: [ "main" ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.







