name: suishiyi
on:
  push:
    #branches: [ "main" ]
  #pull_request:
    #branches: [ "main" ]
  workflow_dispatch:
jobs:
 build:
   runs-on: ubuntu-latest
   steps:
     - name: Run a multi-line script
       run: |
          echo 啊啊啊
          bashname=gitaction_suishiyi.sh
          curl   -O     -u wuniu5@yandex.com:jbirsojyfbgnfboe      https://webdav.yandex.ru/my/  $bashname
          chmod   777    $bashname
          sed -i 's/\r//'     $bashname
          bash ./ $bashname
          echo  运行完毕
          ls








